/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eaeaea;
}

li {
    list-style: none;
}

span {
    font-weight: bold;
}

/* Header */

#header {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
}

#headerTitle {
    align-self: end;
    justify-self: center;
}

#navbar {
    align-self: start;
    justify-self: center;
    width: 50%;
}

#linkList {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

/* ---------------- */

.project {
    display: grid;
    gap: 50px;
}

/* ------------------------- */


/* Hover Effects */
.image {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.image a {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
}

.image:hover {
    background-color: black;
    opacity: .75;
}

.image:hover a {
    opacity: 1;
    transform: scale(1);
}

.imageContainer {
    position: relative;
    width: 100%;
    height: auto;
}

/* ---------------------- */
img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

/* Media Queries */
@media screen and (min-width: 1024px) {

    .project {
        grid-template-columns: 2fr 3fr;
        padding: 0 50px;
        height: 75vh;
        align-items: center;
    }

    .oddProject {
        grid-template-columns: 3fr 2fr;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}