/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;

}

body {
    background-color: black;
}

li {
    list-style: none;
}

span {
    font-weight: bold;
}

/* Header */

#header {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
}

#headerTitle {
    align-self: end;
    justify-self: center;
}

#navbar {
    align-self: start;
    justify-self: center;
    width: 50%;
}

#linkList {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

/* ---------------- */
.projectSection {
    min-height: 75vh;
}

.project {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 10px;
    padding: 0 10px;
}

.projectName {
    font-size: 2.5rem;
}

.projectImage {
    width: 100%;
    height: 100%;
}

/* ------------------------- */


/* Hover Effects */
.image {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image a {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
}

.image:hover {
    background-color: black;
    opacity: .75;
}

.image:hover a {
    opacity: 1;
    transform: scale(1);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ---------------------- */



/* Project Description Column */
.columnTwo {
    display: grid;
    row-gap: 15px;
}

/* ----------------------- */


/* Media Queries */
@media screen and (max-width: 1024px) {
    .project {
        grid-template-columns: 1fr;
    }
}